<footer id="footer" class="section footer-classic context-dark bg-image" style="background: #333333;">
  <div class="container">
    <div class="row row-30">
      <div class="col-md-4">
        <div class="pr-xl-4"><a class="brand" href="index.html"><img src="assets/img/ariwane_logo.jpeg" width="200"
              height="auto" alt="Logo ARIWANE"></a>
          <p>We are an award-winning creative agency, dedicated to the best result in web design, promotion, business
            consulting, and marketing.</p>
        </div>
      </div>
      <div class="col-md-4">
        <h5>Contacts</h5>
        <dl class="contact-list">
          <dd>Dar es Salam, Niamey, NE</dd>
        </dl>
        <dl class="contact-list">
          <dd><a href="mailto:#">notremail@email.com</a></dd>
        </dl>
        <dl class="contact-list">
          <dd><a href="tel:#">https://notresite.com</a>
          </dd>
        </dl>
        <div class="center-block">
          <a href="https://www.facebook.com/bootsnipp"><i id="social-fb"
              class="fa fa-facebook-square fa-3x social"></i></a>
          <a href="https://twitter.com/bootsnipp"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
          <a href="https://plus.google.com/+Bootsnipp-page"><i id="social-gp"
              class="fa fa-google-plus-square fa-3x social"></i></a>
          <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
        </div>
      </div>
      <div class="col-md-4">
        <h5>Liens utils</h5>
        <ul class="nav-list">
          <li><a href="#">A propos</a></li>
          <li><a href="#">Projects</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Contacts</a></li>
        </ul>
      </div>
    </div>
    <hr class="footer-line" />
    <div class="row text-center">
      <div class="col-12">
        <p class="rights"><span>©  </span><span
            class="copyright-year">2020</span><span> </span><span>Nous</span><span>. </span><span>All Rights
            Reserved.</span></p>
      </div>
    </div>
  </div>
</footer>