<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
  <div class="container">
    <a class="navbar-brand font-eight-bold" style="color: #FD8B06;" href="#">
      <b>LOGO</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link text-center" href="register.html">Nos services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-center" href="register.html">S'inscrire</a>
        </li>
        <li class="nav-item login-btn">
          <a class="nav-link text-center" href="login.html">Connexion</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<header>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active" style="background-image: url('assets/img/house-key.jpg')">
        <div class="carousel-caption container mb-3">
          <div class="row">
            <div class="col-md-5 col-xs-12">
              <div class="card">
                <div class="card-body container-fluid" style="color: black; text-align: left;">
                  <div class="row">
                    <p class="lead d-block d-md-none text-center" style="width: 100%;">Achetez ou louer le logement de vos rêves</p>
                    <div class="form-group col-6">
                      <label for="exampleFormControlSelect1">Je cherche</label>
                      <select class="form-control" id="exampleFormControlSelect1">
                        <option>Une maison</option>
                        <option>Un appartement</option>
                      </select>
                    </div>
                    <div class="form-group col-6">
                      <label for="exampleFormControlSelect2">A</label>
                      <select class="form-control" id="exampleFormControlSelect2">
                        <option>Louer</option>
                        <option>Acheter</option>
                      </select>
                    </div>
                    <div class="form-group col-12">
                      <label for="exampleFormControlSelect2">Ville</label>
                      <select class="form-control" id="exampleFormControlSelect2">
                        <option>Niamey</option>
                        <option>Dakar</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-xs-12 hero-text">
              <h3 class="display-4 d-none d-md-block">Achetez ou louer le logement de vos rêves</h3>
              <button class="btn btn-warning btn-lg btn-cta">Trouver un logement</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Page Content -->
<section class="py-4">
  <div class="container">
    <h2 class="font-weight-bold">Les annonces les plus récentes</h2>
    <!-- <p class="lead">The background images for the slider are set directly in the HTML using inline CSS. The images in this snippet are from <a href="https://unsplash.com">Unsplash</a>!</p> -->
    <div class="row posts">
      <div class="col-xs-12 col-md-4">
        <div class="card post mb-3">
          <img src="assets/img/house.jpg" class="card-img-top" alt="House image">
          <div class="card-body">
            <h5 class="card-title">Villa à louer</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk</p>
            <p class="card-sub">150.000 FCFA / Mois</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="card post mb-4">
          <img src="assets/img/house.jpg" class="card-img-top" alt="House image">
          <div class="card-body">
            <h5 class="card-title">Villa à louer</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk</p>
            <p class="card-sub">150.000 FCFA / Mois</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="card post mb-4">
          <img src="assets/img/house.jpg" class="card-img-top" alt="House image">
          <div class="card-body">
            <h5 class="card-title">Villa à louer</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk</p>
            <p class="card-sub">150.000 FCFA / Mois</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="card post mb-4">
          <img src="assets/img/house.jpg" class="card-img-top" alt="House image">
          <div class="card-body">
            <h5 class="card-title">Villa à louer</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk</p>
            <p class="card-sub">150.000 FCFA / Mois</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="card post mb-3">
          <img src="assets/img/house.jpg" class="card-img-top" alt="House image">
          <div class="card-body">
            <h5 class="card-title">Villa à louer</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk</p>
            <p class="card-sub">150.000 FCFA / Mois</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="card post mb-3">
          <img src="assets/img/house.jpg" class="card-img-top" alt="House image">
          <div class="card-body">
            <h5 class="card-title">Villa à louer</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk</p>
            <p class="card-sub">150.000 FCFA / Mois</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<section class="py-4 annoncement">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-3 d-none d-md-block rea-bg-white">
        <img class="img-responsive" src="assets/img/real-estate-agency.png" alt="real estate agency">
      </div>
      <div class="col-xs-12 col-md-8 text">
        <h2 class="font-weight-bold">Etes-vous un démarcheur ou une agence immobilière?</h2>
        <p class="lead">commencez dès maintenent à faire connaitre les logements que vous gérez en vous inscrivant sur
          notre plateforme.</p>
        <button class="btn btn-default btn-cta-1 d-inline">S'inscrire</button>
        <button class="btn btn-default btn-cta-2 d-inline">Nous contacter</button>
      </div>
    </div>
  </div>
</section>

<section class="py-4">
  <div class="container">
    <h2 class="font-weight-bold">Questions fréquentes</h2>
    <div class="row faqs">
      <div class="col-xs-12 col-md-6 mb-3 faq">
        <div class="list-group filter-wrap">
          <article class="list-group-item">
            <header class="filter-header">
              <a href="#" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" class="title">
                <i class="icon-action fa fa-chevron-down"></i>
                <h5 class="title">Comment choisir un logement ? </h5>
              </a>
            </header>
            <div class="filter-content collapse" id="collapse1">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt deserunt mollit anim id est laborum. </p>
            </div> <!-- collapse -filter-content  .// -->
          </article>
        </div> <!-- card.// -->
      </div>
      <div class="col-xs-12 col-md-6 mb-3 faq">
        <div class="list-group filter-wrap">
          <article class="list-group-item">
            <header class="filter-header">
              <a href="#" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" class="title">
                <i class="icon-action fa fa-chevron-down"></i>
                <h5 class="title">Comment choisir un logement ? </h5>
              </a>
            </header>
            <div class="filter-content collapse" id="collapse1">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt deserunt mollit anim id est laborum. </p>
            </div> <!-- collapse -filter-content  .// -->
          </article>
        </div> <!-- card.// -->
      </div>
      <div class="col-xs-12 col-md-6 mb-3 faq">
        <div class="list-group filter-wrap">
          <article class="list-group-item">
            <header class="filter-header">
              <a href="#" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" class="title">
                <i class="icon-action fa fa-chevron-down"></i>
                <h5 class="title">Comment choisir un logement ? </h5>
              </a>
            </header>
            <div class="filter-content collapse" id="collapse1">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt deserunt mollit anim id est laborum. </p>
            </div> <!-- collapse -filter-content  .// -->
          </article>
        </div> <!-- card.// -->
      </div>
      <div class="col-xs-12 col-md-6 mb-3 faq">
        <div class="list-group filter-wrap">
          <article class="list-group-item">
            <header class="filter-header">
              <a href="#" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" class="title">
                <i class="icon-action fa fa-chevron-down"></i>
                <h5 class="title">Comment choisir un logement ? </h5>
              </a>
            </header>
            <div class="filter-content collapse" id="collapse1">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt deserunt mollit anim id est laborum. </p>
            </div> <!-- collapse -filter-content  .// -->
          </article>
        </div> <!-- card.// -->
      </div>
      <div class="col-xs-12 col-md-6 mb-3 faq">
        <div class="list-group filter-wrap">
          <article class="list-group-item">
            <header class="filter-header">
              <a href="#" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" class="title">
                <i class="icon-action fa fa-chevron-down"></i>
                <h5 class="title">Comment choisir un logement ? </h5>
              </a>
            </header>
            <div class="filter-content collapse" id="collapse1">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt deserunt mollit anim id est laborum. </p>
            </div> <!-- collapse -filter-content  .// -->
          </article>
        </div> <!-- card.// -->
      </div>
    </div>
  </div>
</section>

<footer id="footer" class="section footer-classic context-dark bg-image" style="background: #333333;">
  <div class="container">
    <div class="row row-30">
      <div class="col-md-4">
        <div class="pr-xl-4"><a class="brand" href="index.html">LOGO</a>
          <p>We are an award-winning creative agency, dedicated to the best result in web design, promotion, business
            consulting, and marketing.</p>
        </div>
        <div class="text-center center-block">
          <a href="https://www.facebook.com/bootsnipp"><i id="social-fb"
              class="fa fa-facebook-square fa-3x social"></i></a>
          <a href="https://twitter.com/bootsnipp"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
          <a href="https://plus.google.com/+Bootsnipp-page"><i id="social-gp"
              class="fa fa-google-plus-square fa-3x social"></i></a>
          <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
        </div>
      </div>
      <div class="col-md-4">
        <h5>Contacts</h5>
        <dl class="contact-list">
          <dd>798 South Park Avenue, Dakar, SN</dd>
        </dl>
        <dl class="contact-list">
          <dd><a href="mailto:#">notremail@email.com</a></dd>
        </dl>
        <dl class="contact-list">
          <dd><a href="tel:#">https://notresite.com</a>
          </dd>
        </dl>
      </div>
      <div class="col-md-4">
        <h5>Links</h5>
        <ul class="nav-list">
          <li><a href="#">A propos</a></li>
          <li><a href="#">Projects</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Contacts</a></li>
        </ul>
      </div>
    </div>
    <hr class="footer-line" />
    <div class="row text-center">
      <div class="col-12">
        <p class="rights"><span>©  </span><span
            class="copyright-year">2020</span><span> </span><span>Nous</span><span>. </span><span>All Rights
            Reserved.</span></p>
      </div>
    </div>
  </div>
</footer>