/* You can add global styles to this file, and also import other style files */
:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: 0.75rem;
  }
  
  body {
    background-color: #FCFAFA;
  }
  
  .btn-primary {
    background-color: #444B09;
    border          : 1px solid #444B09;
  }
  
  .color-primary {
    color: #444B09;
  }
  
  
  hr.underline {
    width     : 15%;
    border-top: 2px solid rgba(0, 0, 0, 1);
  }
  
  hr.footer-line {
    border-top: 1px solid #666;
  }
  
  .carousel-item {
    height                 : 85vh;
    min-height             : 350px;
    background             : no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size   : cover;
    -o-background-size     : cover;
    background-size        : cover;
  }
  
  /* 
  .carousel-caption {
    position      : absolute;
    right         : 15%;
    bottom        : 20px;
    left          : 15%;
    z-index       : 10;
    padding-top   : 20px;
    padding-bottom: 25vh;
    color         : #fff;
    text-align    : center;
  } */
  
  .carousel-caption {
    left         : 8%;
    width        : 100%;
    vertical-align: middle;
    padding-bottom: 20vh;
  }
  
  .navbar {
    background: transparent;
    padding   : 12px 0 12px 0;
  }
  
  .navbar-brand {
    letter-spacing: .1em;
  }
  
  .navbar .nav-link {
    color: #fff;
  }
  
  li.nav-item {
    margin-right: 12px;
    margin-left : 12px;
  }
  
  li.nav-item>.nav-link {
    color: #ffffff;
  }
  
  .login-btn {
    border       : 1px solid #fff;
    border-radius: 6px;
    padding      : 0px 12px;
  }
  
  .scrolling.navbar {
    background: #ffffff;
  }
  
  .scrolling.navbar .login-btn {
    border: 1px solid #444B09;
    color : #444B09;
  }
  
  .navbar-light .navbar-nav .nav-link {
    color: #fff;
  }
  
  .scrolling.navbar .nav-link {
    color: #444B09;
  }
  
  .scrolling.navbar {
    -webkit-box-shadow: 3px 2px 5px 1px rgba(0, 0, 0, 0.59);
    -moz-box-shadow   : 3px 2px 5px 1px rgba(0, 0, 0, 0.59);
    box-shadow        : 3px 2px 5px 1px rgba(0, 0, 0, 0.59);
  }
  
  @media (min-width: 992px) {
    .side-pan.fixed {
      position: fixed;
      width   : 25%;
      top     : 100px;
      left    : 66%;
    }
  }
  
  .hero-text {
    text-align: left;
  }
  
  .posts {
    margin-top: 2.5rem;;
  }
  
  .card.post {
    border: none;
    -webkit-box-shadow: 3px 2px 5px 1px rgba(0, 0, 0, 0.59);
    -moz-box-shadow   : 3px 2px 5px 1px rgba(0, 0, 0, 0.59);
    box-shadow        : 3px 2px 5px 1px rgba(0, 0, 0, 0.59);
  }
  
  .card.post > .card-body {
    padding: .50rem 1.25rem;
  }
  
  .card.post > .card-body > .card-title,
  .card.post > .card-body > .card-text,
  .card.post > .card-body > .card-sub {
    margin-bottom: 0px;
  }
  
  .card.post > .card-body > .card-text {
    color: #828282;
    font-size: .9em;
  }
  
  .card.post > .card-body > .card-sub {
    color: #FD8B06;
    font-weight: 700;
  }
  
  .btn-cta {
    padding: .8rem 1.5rem;
    background-color: #FD8B06;
    border: 1px solid #FD8B06;
    color: black;
    font-size: 1.5rem;
    font-weight: 400;
  }
  
  .btn-cta:hover {
    background-color: transparent;
    border: 1px solid #FD8B06;
    color: #fff;
  }
  
  .btn-cta-1 {
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #FD8B06;
    border: 1px solid #FD8B06;
    color: black;
    font-weight: bold;
  }
  
  .btn-cta-2 {
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: transparent;
    border: 1px solid #FFF;
    color: #FFF;
    font-weight: bold;
  }
  
  .annoncement {
    background-color: #444B09;
    color: #fff;
  }
  
  .annoncement .text {
    padding: 20px 0px 20px 60px;
  }
  
  .rea-bg-white {
    background-color: #fff;
    text-align: center;
    border-radius: 50%;
    padding: 70px 0;
  }
  
  .rea-bg-white img{
    width: 50%;
    height: auto;
    margin: auto;
  }
  
  .faq .card {
    margin-bottom: 15px;
  }
  
  .faq .icon-action {
    margin-top: 5px;
    float: right;
    font-size: 80%;
  }
  
  .list-group-item {
    border: none;
    -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.59);
    -moz-box-shadow   : 1px 1px 2px 1px rgba(0, 0, 0, 0.59);
    box-shadow        : 1px 1px 2px 1px rgba(0, 0, 0, 0.59);
  }
  
  .list-group-item .title {
    margin-top: 5px;
    margin-bottom: 12px;
    font-weight: 600;
    color: black;
  }
  
  .list-group-item .title:hover {
    color: black;
    text-decoration: none;
  }
  
  .faqs {
    margin-top: 30px;
  }
  
  /* Footer */
  
  .context-dark,
  .bg-gray-dark,
  .bg-primary {
    color: rgba(255, 255, 255, 0.8);
  }
  
  .footer-classic {
    padding-top: 32px;
  }
  
  .footer-classic a,
  .footer-classic a:focus,
  .footer-classic a:active {
    color: #ffffff;
  }
  
  .nav-list li {
    padding-top   : 5px;
    padding-bottom: 5px;
  }
  
  .nav-list li a:hover:before {
    margin-left: 0;
    opacity    : 1;
    visibility : visible;
  }
  
  ul,
  ol {
    list-style: none;
    padding   : 0;
    margin    : 0;
  }
  
  .social-inner {
    display       : flex;
    flex-direction: column;
    align-items   : center;
    width         : 100%;
    padding       : 23px;
    font          : 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    color         : rgba(255, 255, 255, 0.5);
  }
  
  .social-container .col {
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  .nav-list li a:before {
    content       : "\f14f";
    font          : 400 21px/1 "Material Design Icons";
    color         : #4d6de6;
    display       : inline-block;
    vertical-align: baseline;
    margin-left   : -28px;
    margin-right  : 7px;
    opacity       : 0;
    visibility    : hidden;
    transition    : .22s ease;
  }
  
  .social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform   : scale(1.1);
    -o-transform     : scale(1.1);
  }
  
  .social {
    -webkit-transform    : scale(0.8);
    /* Browser Variations: */
  
    -moz-transform             : scale(0.8);
    -o-transform               : scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration   : 0.5s;
    -o-transition-duration     : 0.5s;
  }
  
  /*
   Multicoloured Hover Variations
  */
  
  #social-fb:hover {
    color: #3B5998;
  }
  
  #social-tw:hover {
    color: #4099FF;
  }
  
  #social-gp:hover {
    color: #d34836;
  }
  
  #social-em:hover {
    color: #f39c12;
  }