/* You can add global styles to this file, and also import other style files */
:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: 0.75rem;
}

body {
  background-color: #FCFAFA;
}

.btn-primary {
  background-color: #444B09;
  border          : 1px solid #444B09;
}

.color-primary {
  color: #444B09;
}


hr.underline {
  width     : 15%;
  border-top: 2px solid rgba(0, 0, 0, 1);
}

hr.footer-line {
  border-top: 1px solid #666;
}

.carousel-item {
  height                 : 85vh;
  min-height             : 350px;
  background             : no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size   : cover;
  -o-background-size     : cover;
  background-size        : cover;
}

.search-sec {
  padding   : 2rem;
  position  : relative;
  top       : -145px;
  background: rgba(68, 75, 9, 0.664);
  z-index   : 2;
}

.search-slt {
  display         : block;
  width           : 100%;
  font-size       : 0.875rem;
  line-height     : 1.5;
  color           : #55595c;
  background-color: #fff;
  background-image: none;
  border          : 1px solid #ccc;
  height          : calc(3rem + 2px) !important;
  border-radius   : 0;
}

.wrn-btn {
  width           : 100%;
  font-size       : 16px;
  font-weight     : 400;
  text-transform  : capitalize;
  height          : calc(3rem + 2px) !important;
  border-radius   : 0;
  background-color: #FD8B06;
  border          : 1px solid #FD8B06;
}

#home-content {
  margin-top: -125px;
  ;
}


.carousel-caption {
  position      : absolute;
  right         : 15%;
  bottom        : 20px;
  left          : 15%;
  z-index       : 10;
  padding-top   : 20px;
  padding-bottom: 25vh;
  color         : #fff;
  text-align    : center;
}

.carousel-caption {
  left          : 8%;
  width         : 84%;
  vertical-align: middle;
  padding-bottom: 25vh;
}

@media (min-width: 576px) {
  .carousel-caption {
    padding-bottom: 20px;
    text-align    : center;
  }

  .btn-cta {
    margin-top: 20px;
  }
}

@media (min-width: 992px) {
  .carousel-caption {
    left          : 8%;
    width         : 84%;
    vertical-align: middle;
    padding-bottom: 20vh;
  }

  .btn-cta {
    margin-top: 0px;
  }
}

@media (max-width: 768px) {
  .carousel-caption {
    padding-bottom: 20px;
    text-align    : center;
  }

  .btn-cta {
    margin-top: 20px;
  }
}

.navbar {
  background: transparent;
  padding   : 12px 0 12px 0;
}

.navbar-brand {
  letter-spacing: .1em;
}

.navbar .nav-link {
  color: #fff;
}

section.content {
  margin-top: 60px;
}

li.nav-item {
  margin-right: 12px;
  margin-left : 12px;
}

li.nav-item>.nav-link {
  color: #ffffff;
}

.login-btn {
  border       : 1px solid #fff;
  border-radius: 6px;
  padding      : 0px 12px;
}

.scrolling.navbar, .opac.navbar {
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.59);
  -moz-box-shadow   : 0px 2px 2px 0px rgba(0, 0, 0, 0.59);
  box-shadow        : 0px 2px 2px 0px rgba(0, 0, 0, 0.59);
}

.scrolling.navbar .login-btn, .opac.navbar .login-btn {
  border: 1px solid #444B09;
  color : #444B09;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
}

.scrolling.navbar .nav-link, .opac.navbar .nav-link {
  color: #444B09;
}

.scrolling.navbar {
  -webkit-box-shadow: 3px 2px 5px 1px rgba(0, 0, 0, 0.59);
  -moz-box-shadow   : 3px 2px 5px 1px rgba(0, 0, 0, 0.59);
  box-shadow        : 3px 2px 5px 1px rgba(0, 0, 0, 0.59);
}

@media (min-width: 992px) {
  .side-pan.fixed {
    position: fixed;
    width   : 25%;
    top     : 100px;
    left    : 66%;
  }
}

.hero-text {
  text-align: left;
}

.posts {
  margin-top: 2.5rem;
  ;
}

.card.post {
  border            : none;
  -webkit-box-shadow: 3px 2px 5px 1px rgba(0, 0, 0, 0.59);
  -moz-box-shadow   : 3px 2px 5px 1px rgba(0, 0, 0, 0.59);
  box-shadow        : 3px 2px 5px 1px rgba(0, 0, 0, 0.59);
}

.card.post>.card-body {
  padding: .50rem 1.25rem;
}

.card.post>.card-body>.card-title,
.card.post>.card-body>.card-text,
.card.post>.card-body>.card-sub {
  margin-bottom: 0px;
}

.card.post>.card-body>.card-text {
  color    : #828282;
  font-size: .9em;
}

.card.post>.card-body>.card-sub {
  color      : #FD8B06;
  font-weight: 700;
}

.btn-cta {
  padding         : .8rem 1.5rem;
  background-color: #FD8B06;
  border          : 1px solid #FD8B06;
  color           : black;
  font-size       : 1.5rem;
  font-weight     : 400;
}

.btn-cta:hover {
  background-color: transparent;
  border          : 1px solid #FD8B06;
  color           : #fff;
}

.btn-cta-1 {
  padding-left    : 2rem;
  padding-right   : 2rem;
  background-color: #FD8B06;
  border          : 1px solid #FD8B06;
  color           : black;
  font-weight     : bold;
}

.btn-cta-2 {
  padding-left    : 2rem;
  padding-right   : 2rem;
  background-color: transparent;
  border          : 1px solid #FFF;
  color           : #FFF;
  font-weight     : bold;
}

.annoncement {
  background-color: #444B09;
  color           : #fff;
}

.annoncement .text {
  padding: 20px 0px 20px 60px;
}

.rea-bg-white {
  background-color: #fff;
  text-align      : center;
  border-radius   : 50%;
  padding         : 70px 0;
}

.rea-bg-white img {
  width : 50%;
  height: auto;
  margin: auto;
}

.faq .card {
  margin-bottom: 15px;
}

.faq .icon-action {
  margin-top: 5px;
  float     : right;
  font-size : 80%;
}

.list-group-item {
  border            : none;
  -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.59);
  -moz-box-shadow   : 1px 1px 2px 1px rgba(0, 0, 0, 0.59);
  box-shadow        : 1px 1px 2px 1px rgba(0, 0, 0, 0.59);
}

.list-group-item .title {
  margin-top   : 5px;
  margin-bottom: 12px;
  font-weight  : 600;
  color        : black;
}

.list-group-item .title:hover {
  color          : black;
  text-decoration: none;
}

.faqs {
  margin-top: 30px;
}

.no-margin {
  margin: 0;
}

/* Footer */

.context-dark,
.bg-gray-dark,
.bg-primary {
  color: rgba(255, 255, 255, 0.8);
}

.footer-classic {
  padding-top: 32px;
}

.footer-classic a,
.footer-classic a:focus,
.footer-classic a:active {
  color: #ffffff;
}

.nav-list li {
  padding-top   : 5px;
  padding-bottom: 5px;
}

.nav-list li a:hover:before {
  margin-left: 0;
  opacity    : 1;
  visibility : visible;
}

ul,
ol {
  list-style: none;
  padding   : 0;
  margin    : 0;
}

.social-inner {
  display       : flex;
  flex-direction: column;
  align-items   : center;
  width         : 100%;
  padding       : 23px;
  font          : 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  text-transform: uppercase;
  color         : rgba(255, 255, 255, 0.5);
}

.social-container .col {
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.nav-list li a:before {
  content       : "\f14f";
  font          : 400 21px/1 "Material Design Icons";
  color         : #4d6de6;
  display       : inline-block;
  vertical-align: baseline;
  margin-left   : -28px;
  margin-right  : 7px;
  opacity       : 0;
  visibility    : hidden;
  transition    : .22s ease;
}

.social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform   : scale(1.1);
  -o-transform     : scale(1.1);
}

.social {
  -webkit-transform    : scale(0.8);
  /* Browser Variations: */

  -moz-transform             : scale(0.8);
  -o-transform               : scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration   : 0.5s;
  -o-transition-duration     : 0.5s;
}

/*
   Multicoloured Hover Variations
  */

#social-fb:hover {
  color: #3B5998;
}

#social-tw:hover {
  color: #4099FF;
}

#social-gp:hover {
  color: #d34836;
}

#social-em:hover {
  color: #f39c12;
}

/* Loading CSS */
.lds-parent {
  margin: auto;
  align-items: center;
  text-align: center;
  width: 100%;
}

.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #444B09;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
